@model IEnumerable<WebApp.Models.Producto>
@{
    ViewData["Title"] = "Home Page";
}    <h1 class="titulo text-center">Sneakerest</h1>
<a href="/Products"><h4 class="titulo2">Ver más</h4></a>
<img class="banner" src="/images/banner/gif.gif">
<section>

    <article class="col-8 mx-auto mb-5">
        <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">ÚLTIMOS PRODUCTOS</h2>
    </article>
    <div class="container">
        <div class="row align-items-start">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/images/zapatillas/airvioletas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">AirForce</h5>
                        <p class="card-text">
                            <h5 class="card-title">aiodsfghosdfighasdifjonZ</h5>
                        </p>
                        <p class="card-text">
                            <h5 class="card-title">123412</h5>
                        </p>
                        <a href="#" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/images/zapatillas/airvioletas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">AirForce</h5>
                        <p class="card-text">
                            <h5 class="card-title">aiodsfghosdfighasdifjon</h5>
                        </p>
                        <p class="card-text">
                            <h5 class="card-title">123412</h5>
                        </p>
                        <a href="#" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/images/zapatillas/airvioletas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">AirForce</h5>
                        <p class="card-text">
                            <h5 class="card-title">aiodsfghosdfighasdifjon</h5>
                        </p>
                        <p class="card-text">
                            <h5 class="card-title">123412</h5>
                        </p>
                        <a href="#" class="btn btn-dark">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</section>
<section class="container" >
    <article class="col-8 mx-auto mb-5 mt-4">
        <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mt-5 mx-auto text-uppercase">SUSCTIBITE AL NEWSLETTER</h2>
    </article>
    <h4 class="mt-5 text-center">Para recibir novedades semanalmente ingresá tu email</h4>

    <div class="w-70 ">
        <input class=" form-control form-control mt-4" type="text" placeholder="Ingresá tu email" aria-label=".form-control-lg example">
    </div>

</section>