<article class="col-8 mx-auto mb-5 mt-4">
    <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mt-5 mx-auto text-uppercase">Nosotros</h2>
</article>
<div class="container-fluid">
    <div class="row">
        <div class="text-left pl-5 col-4">
            <h1 class="titulo3">
                ¿Quienes somos?
            </h1>
            <div>
                <p>
                    Somos una empresa de venta de zapatillas especializada en el mundo digital con un fuerte componente estratégico y creativo.

                    Ayudamos a las marcas en la  venta y distribucion de sus ultimos modelos.
                </p>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
        <div class="text-left pr-5 col-4">
            <h1 class="titulo3">
                A que nos dedicamos
            </h1>
            <p class=" container">
                Garantizar el cuidado y confort de cada Cliente y cada Clienta. Esa es una buena manera
                de resumir en pocas palabras la misión de , que dio su puntapié a partir de la pandemia,
                cuando comenzamos como una empresa de compañeros enteramente de capital argentino
                dedicada a la Venta  del mejor calzado de Deportivo.
            </p>
        </div>
        <div class="text-left pl-5 col-4">
            <h1 class="titulo3 ">
                Email:
            </h1>
            <p>
                support@sneakerest.com
            </p>

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
