body {
    font-family: 'Montserrat', sans-serif;
}
.container {
     max-width: 100%; 
}
.m-0 {
     margin: 0!important; 
}
.main{
    100%;
}
.titulo-admin {
    margin-top: 6rem;
}
.logo {
    width:50%;
}

.logo1 {
    width: 20%;
}

.banner {
    width: 100%;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
    height: 5rem;
}

    #navbar:hover {
        background-color: rgba(0,0,0,0.5);
        color: black;
    }
.card:hover {
    transform: scale(1);
    transition: .5s .5s;
    transition-delay: 0s;
}
.color {
    color: white;
}
.formulario-registro {
    width: 60%;
}
#registro {
    width: 60%;
}
.form{
    display:flex;
    justify-content:center;
}
.titulo {
    font-family: 'Ceviche One', cursive;
    font-size: 6rem;
    color: black;
    position: absolute;
    text-align: center;
    top: 38%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.titulo2 {
    font-family: 'Ceviche One', cursive;
    font-size: 3rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.titulo3 {
    font-family: 'Ceviche One', cursive;
    color: black;
}
.formulario {
    width: 40%;
}

.footer {
    background-color: rgba(0,0,0,0.5);
    margin-top: 5rem;
}

.logofooter {
    margin-left: 2rem;
    width: 40%
}

.rutes {
    margin-left: 2rem;
}

.firma {
    margin-left: 3rem;
}
