@model WebApp.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<article class="col-8 mx-auto mb-5 mt-4">
    <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mt-5 mx-auto text-uppercase">INICIAR SESIÓN</h2>
</article>
<div class="container-fluid w-50">
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="email" class="control-label">Email</label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger">@ViewBag.Error</span>

        </div>
        <div class="form-group">
            <label asp-for="password" class="control-label">Contraseña</label>
            <input asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger">@ViewBag.Error</span>

        </div>


        <div class="form-group">
            <input type="submit" value="Iniciar sesión" class="btn btn-dark" />
        </div>

    </form>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}